# Flutter build & cache
.dart_tool/
build/
.packages
.pub-cache/
.pub/

# macOS system files
.DS_Store

# VS Code settings (optional)
.vscode/

# Xcode / iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec
